@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

@mixin font-generic($font-style, $font-size, $font-weight, $word-spacing, $color, $font-family: "Roboto") {
  font-style: $font-style;
  font-size: $font-size;
  font-weight: $font-weight;
  word-spacing: $word-spacing;
  color: $color;
  font-family: $font-family, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  header {
    h1 {
      margin: 0;
      padding: 40px 20px 55px 40px;
      // border: 1px solid black;
      @include font-generic(normal, 55px, 400, 1px, hsl(0, 0%, 35%));
    }
  }

  section {
    display: flex;
    gap: 60px;
    justify-content: center;

    .title {
      @include font-generic(normal, 35px, 400, 1px, hsl(0, 0%, 30%));

      margin: 0;
      padding: 0;
    }

    button {
      padding: 10px 40px;
      cursor: pointer;

      @include font-generic(normal, 15px, 400, 1px, hsl(0, 0%, 15%));

      box-shadow: 2px 3px hsl(0, 0%, 75%);
      border: none;
      border-radius: 5px;
    }

    button:active {
      background: hsl(0, 0%, 65%);
      color: white;
    }

    .content-1 {
      width: 30%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
      }

      .list {
        padding: 0;
        margin: 0;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
        list-style: none;

        .bg-grey {
          background: hsl(0, 0%, 85%);
        }

        li {
          padding: 15px;

          @include font-generic(normal, 17px, 300, 1px, hsl(0, 0%, 15%));
        }
      }
    }

    .content-2 {
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-end;
      width: 30%;

      input {
        width: 100%;
        padding: 14px;

        @include font-generic(normal, 20px, 300, 1px, hsl(0, 0%, 15%));
      }

      .space {
        word-spacing: 5px;
        letter-spacing: 3px;
        text-align: center;
        // border: 1px solid black;
        width: 100%;
      }

      .button {
        display: flex;
        justify-content: flex-end;
      }

      .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
      }
    }

    .border {
      border: 1px solid hsl(0, 0%, 75%);
      border-radius: 5px;
    }
  }

  #animation {
    height: 200px;
  }

  .hide {
    display: none;
  }
}
